.service-card {
  background-color: #fcfcfc;
  border-radius: 2px;
  min-height: 300px;
}
.country h2 {
  color: #1a2238;
  font-weight: 700;
}
.package {
  padding: 5px 30px;
}
.service-card h6 {
  color: #1a2238;
  font-weight: 700;
  font-size: 28px;
  margin: 10px 0;
}

.service-card p {
  font-size: 18px;
}

.service-card .btn {
  background-color: #1a2238;
  color: white;
  outline: none;
  border: none;
  padding: 10px 34px;
  border-radius: 5px;
}
