.services {
  color: #1a2238;
  margin: 50px 0;
}
.services p {
  font-size: 16px;
}
.services.btn {
  background-color: #1a2238;
  color: white;
  outline: none;
  border: none;
  padding: 2% 20%;
  border-radius: 40px;
}
