.connected {
  padding-top: 50px;
}
.social {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.social a {
  padding: 20px 30px;
  border: 2px solid #d8dfe9;
  border-radius: 20px;
  color: #d8dfe9;
  font-size: 30px;
  background-color: #1a2238;
  border-bottom: 5px solid #d8dfe9;
}
.social a:hover {
  background-color: transparent;

  color: white;
}

.connected {
  margin: 100px auto;
}
