.social {
  display: flex;
  justify-content: center;
}
.social a {
  /* padding: 20px 30px;
  border: 2px solid #d8dfe9;
  border-radius: 20px; */
  color: #1a2238;
  font-size: 30px;
  /* background-color: #1a2238;
  border-bottom: 5px solid #d8dfe9; */
}
/* .social a:hover {
  background-color: transparent;

  color: white;
} */
