
.connected{
    padding-top: 50px;
}
 .social{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
}
.social a{
    padding: 20px 30px;
    border: 2px solid #D8DFE9;
    border-radius: 20px;
    color:#D8DFE9 ;
    font-size: 30px;
    background-color: #04566E;
    border-bottom: 5px solid #D8DFE9;
    
}
.social a:hover{
   background-color: transparent;
   
   color: white;


}

.connected{
    margin: 100px auto;
}