.vision {
  color: rgb(75, 73, 73);
  margin: 100px auto;
}

h2 {
  color: #1a2238;
  font-size: 36px;
  font-weight: 700;
}
h4 {
  color: #1a2238;
}
.img {
  /* border-radius: 20px; */
  border: 2px solid #1a2238;
  width: 100%;
}
.vision .title-paragraph {
  font-size: 14px;
  text-align: center;
}

/* .card {
  background-color: #fcfcf9;
  border-radius: 10px;
  margin: 10px 0;
} */

.about {
  margin: -6px 0px;
}
