// Override default variables before the import
.highlight {
  color: #fcc757;
}
.card:hover {
  border: 2px solid #1a2238 !important;
  background-color: white;
  color: rgb(37, 37, 37);
}

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;

$theme-colors: (
  'primary': #1a2238,
  'secondary': #fcc757,
  //   "success":    $success,
  //   "info":       $info,
  //   "warning":    $warning,
  //   "danger":     $danger,
  'white': #ffffff,
  'light': #2b2b2d,
  'gray': #888889,
  'dark': #fcfcfc,
);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
